{% extends 'base_with_admin_menu.html' %}

<!--Address table-->

{% block admin-data %}
	{% if content|length > 0 %}
		<table class="table table-striped">
			<thead>
			<tr>
				<th class="col-1 text-start">#</th>
				<th class="col-2 text-start">City</th>
				<th class="col-3 text-start">Street</th>
				<th class="col-1">Edit</th>
				<th class="col-1">Delete</th>
			</tr>
			</thead>

			<tbody>
			{% for i in content %}
				<tr>
					<td class="col-1 text-start"><p>{{ forloop.counter }}.</p></td>
					<td class="col-2 text-start"><p>{{ i.city }}</p></td>
					<td class="col-3 text-start"><p>{{ i.street }}</p></td>
					<td class="col-1">
						<form class="upt" id="update-form" method="post" action="{% url 'address_update' i.pk %}">
							{% csrf_token %}
							<button type="submit" class="bi bi-pencil"></button>
						</form>
					</td>
					<td class="col-1">
						<form method="post" action="{% url 'address_delete' i.pk %}">
							{% csrf_token %}
							<button type="submit" class="bi bi-trash"></button>
						</form>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
		{% include 'address/address_add_modal.html' %}

	{% else %}
		<p class="text-center">Nope</p>
	{% endif %}
{% endblock admin-data %}
